@layer components {
  .door-key-container {
    @apply absolute left-full ml-[-15vw] top-1/2 mt-[-15vw] z-20 rounded-full w-[30vw] h-[30vw]
        flex justify-center items-center  rotate-[-25deg] hover:rotate-0 duration-1600 hover:-translate-y-10
        hover:scale-110;
    > div:last-child {
      background-image: url("/key.jpg");
      @apply w-[22vw] h-[22vw] rounded-full z-40 relative;
      > div:nth-of-type(1) {
        background-image: url("/key.jpg");
        @apply h-1/2 w-1/2 absolute top-[11vw] left-[11vw] mt-[-5.5vw]  ml-[-5.5vw] rounded-full
          z-50 overflow-hidden duration-1500 flex justify-center items-center rotate-[25deg];
        > div {
          text-shadow: rgba(0, 0, 0, 0.3) 3px 1px 5px;
          background-image: url("/keytext.jpg");
          background-position: center;
          background-size: fill;
          @apply text-transparent bg-clip-text text-base md:text-2xl lg:text-3xl xl:text-4xl font-black text-center;
        }
      }
      > div:nth-of-type(2) {
        @apply flex flex-col absolute top-1/2 mt-[-30%] left-1/2 ml-[-47%] w-full z-40;
        > div {
          @apply relative;
          > div:last-child {
            @apply absolute top-0 left-0 w-full h-full;
          }
        }
      }
      > div:nth-of-type(3) {
        @apply flex flex-col absolute top-1/2 mt-[-30%] left-1/2 ml-[-53%] w-full z-40;
        > div {
          @apply relative;
          > div:last-child {
            @apply absolute top-0 left-0 w-full h-full;
          }
        }
      }
    }
  }
}
