@layer components {
  .header-container {
    z-index: 100;
    @apply h-full w-full flex flex-col sm:flex-row justify-evenly items-center bg-gray-900 relative;
    > h1 {
      font-family: "Berkshire Swash", cursive;
      @apply text-xl sm:text-2xl md:text-3xl pt-2 whitespace-nowrap text-white hover:text-pink-200 duration-2000;
    }
    ul {
      @apply w-full ssm:w-auto flex justify-between ssm:justify-center items-stretch sm:text-xl font-bold;
      > li {
        @apply w-full ssm:w-auto text-center;
        > a {
          @apply hover:bg-gray-100 hover:text-black px-3 md:px-6 lg:px-10 py-3 md:py-5 block duration-700 w-full ssm:w-auto;
        }
      }
    }
  }
}
