@layer components {
  .key-door-tickness {
    background-size: 100% 100%;
    border-radius: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    > div {
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: -10;
      background-color: #16fbff;
      width: 5vw;
      height: 6vw;
    }
  }
  .key-thickness-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.5vw;
    margin-left: -12.5vw;
    border-width: 1vw;
    border-color: #16fbff;
    border-radius: 100%;
    height: 25vw;
    position: absolute;
    width: 25vw;
    -webkit-transform: translateZ(-5vw);
  }
  .key-thickness0 {
    top: 12vw;
    transform: rotateY(-90deg) rotateX(0deg) translate3d(-2.5vw, 0vw, -1vw);
  }

  .key-thickness1 {
    top: 2vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 1vw, -5vw) rotateX(50deg);
  }
  .key-thickness2 {
    top: 5.5vw;
    transform: rotateY(-90deg) rotateX(30deg) translate3d(-2.5vw, 0vw, -2.5vw);
  }
  .key-thickness3 {
    top: 21vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 0vw, -5.5vw) rotateX(-50deg);
  }
  .key-thickness4 {
    top: 18.5vw;
    transform: rotateY(-90deg) rotateX(-30deg) translate3d(-2.5vw, 0vw, -2.5vw);
  }
  .key-thickness-0 {
    top: 12vw;
    transform: rotateY(-90deg) rotateX(0deg) translate3d(-2.5vw, 0vw, -24vw);
  }
  .key-thickness-1 {
    top: 2vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 1vw, -20vw) rotateX(-50deg);
  }
  .key-thickness-2 {
    top: 7vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 0vw, -22.5vw) rotateX(-30deg);
  }

  .key-thickness-3 {
    top: 21vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 0vw, -19.5vw) rotateX(50deg);
  }
  .key-thickness-4 {
    top: 17vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 0vw, -22.5vw) rotateX(30deg);
  }

  .light-key-container {
    @apply w-[30vw] h-[30vw] rounded-full z-60 absolute top-1/2 left-1/2 mt-[-50%] ml-[-50%] 
        grayscale-70 rotate-90 duration-1500 delay-500;

    > div {
      @apply relative key-door-tickness rounded-full duration-2000;
      > img {
        @apply overflow-hidden rounded-full w-[30vw];
      }
    }
  }
}
