@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "../src/components/_components.css";

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

/* #__next {
  max-width: 1920px;
  @apply mx-auto bg-black overflow-x-hidden;
} */



body {
  @apply bg-black;
}

@layer base {
  svg {
    @apply overflow-visible;
  }
}

@layer components {
  .key-door-tickness {
    background-size: 100% 100%;
    border-radius: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    > div {
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: -10;
      background-color: #16FBFF;
      width: 5vw;
      height: 6vw;
    }
  }
  .key-thickness-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40%;
    margin-left: -40%;
    border-width: 1vw;
    border-color: #16FBFF;
    border-radius: 100%;
    height: 80%;
    position: absolute;
    width: 80%;
    -webkit-transform: translateZ(-5vw);
  }
  .key-thickness0 {
    top: 12vw;
    transform: rotateY(-90deg) rotateX(0deg) translate3d(-2.5vw, 0vw, -1vw);
  }

  .key-thickness1 {
    top: 2vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 1vw, -5vw) rotateX(50deg);
  }
  .key-thickness2 {
    top: 5.5vw;
    transform: rotateY(-90deg) rotateX(30deg) translate3d(-2.5vw, 0vw, -2.5vw);
  }
  .key-thickness3 {
    top: 21vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 0vw, -5.5vw) rotateX(-50deg);
  }
  .key-thickness4 {
    top: 18.5vw;
    transform: rotateY(-90deg) rotateX(-30deg) translate3d(-2.5vw, 0vw, -2.5vw);
  }
  .key-thickness-0 {
    top: 12vw;
    transform: rotateY(-90deg) rotateX(0deg) translate3d(-2.5vw, 0vw, -24vw);
  }
  .key-thickness-1 {
    top: 2vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 1vw, -20vw) rotateX(-50deg);
  }
  .key-thickness-2 {
    top: 7vw;
    transform: rotateY(-90deg)  translate3d(-2.5vw, 0vw, -22.5vw) rotateX(-30deg);
  }

  .key-thickness-3 {
    top: 21vw;
    transform: rotateY(-90deg) translate3d(-2.5vw, 0vw, -19.5vw) rotateX(50deg);
  }
  .key-thickness-4 {
    top: 17vw;
    transform: rotateY(-90deg)  translate3d(-2.5vw, 0vw, -22.5vw) rotateX(30deg);
  }
}

.right-door{
  position: relative;
  -webkit-transform: perspective(1000px) rotateY(70deg);
  transform: perspective(1000px) rotateY(70deg);
}
.right-door::after , .right-door::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  margin-left:0px;
  height: 100%;
  background: transparent;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 15px solid rgba(0, 0, 0, 0.5);
}
.left-door{
  position: relative;
  -webkit-transform: perspective(1000px) rotateY(-70deg);
  transform: perspective(1000px) rotateY(-70deg);
}
.left-door::after , .left-door::before {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  width: 0;
  margin-right:0px;
  height: 100%;
  background: transparent;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 15px solid rgba(0, 0, 0, 0.5);
}

/* chrome */
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
/* firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: darkgray;
}

@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.25px, -0.5px) rotate(-0.1deg); }
  20% { transform: translate(-0.75px, 0px) rotate(0.1deg); }
  30% { transform: translate(0.75px, 0.5px) rotate(0deg); }
  40% { transform: translate(0.25px, -0.25px) rotate(0.1deg); }
  50% { transform: translate(-0.25px, 0.5px) rotate(-0.1deg); }
  60% { transform: translate(-0.75px, 0.25px) rotate(0deg); }
  70% { transform: translate(0.75px, 0.25px) rotate(-0.1deg); }
  80% { transform: translate(-0.25px, -0.25px) rotate(0.1deg); }
  90% { transform: translate(0.25px, 0.25px) rotate(0deg); }
  100% { transform: translate(0.25px, -0.5px) rotate(-0.1deg); }
}