@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@import '../components/_components.css';

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body{
  @apply bg-black;
}

/* #__next {
  max-width: 1920px;
  @apply mx-auto bg-black overflow-x-hidden;
} */


/* chrome */
*::-webkit-scrollbar {
    width: 0.5rem;
  }
  *::-webkit-scrollbar-thumb {
    background-color: darkgray;
  }
/* firefox */
* {
scrollbar-width:thin;
scrollbar-color: darkgray;
}